@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    height: 100vh;
    background-image: linear-gradient(#0000001f,black),url(../images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
   
}
.heading{
    color: white;
    font-family: Ubuntu;
    font-size: 60px;
    padding-top: 14rem;
}
.heading-text{
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 15px;
    line-height: 2;
    color: rgb(213, 213, 213);
    font-family: Rubik;
}
.heading-btn{
    font-family: Rubik;
    text-decoration: none;
    font-size: 20px;
    padding: 8px;
    margin-top: 1rem;
    border-radius: 5px;
    color: white;
    background-color: #ff0054;

}
#donate{
    padding-top: 100px;
    text-align: center;
}
.scnd-heading{
    font-family: Ubuntu;
    font-size: 50px;

}
.scnd-sub-text{
    font-size: 20px;
    line-height: 2;
    padding-top: 20px;
    color: rgb(105, 101, 101);
}
.taka{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
h5{
    margin: 30px auto;
    padding-top: 3%;
    width: 100px;
    height: 90px;
    /* borde?r: 1px solid black; */
    border-radius: 2px;
    font-family: Rubik;
    font-size: 20px;
    background-color: #dfddde;
    color: #838282;
}
.amount{
    text-align: center;
 border-style: none;
    width: 60%;
    height: 40px;
}
hr{
    margin-left: 25%;
    width: 50%;
}
.btn{
    border: none;
    font-family: Rubik;
    text-decoration: none;
    font-size: 20px;
    padding: 8px;
    margin: 30px;
    border-radius: 5px;
    color: white;
    background-color: #ff0054;
   
}
.active{
    color: #fa0f5c;
    background-color: #ff00541c;
    border: 1px solid #ff0054;
}