@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    height: 100vh;
    background-image: linear-gradient(#0000001f,black),url(../images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
   
}
.heading{
    color: white;
    font-family: Ubuntu;
    font-size: 60px;
    padding-top: 14rem;
}
.heading-text{
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 15px;
    line-height: 2;
    color: rgb(213, 213, 213);
    font-family: Rubik;
}
.heading-btn{
    font-family: Rubik;
    text-decoration: none;
    font-size: 20px;
    padding: 8px;
    margin-top: 1rem;
    border-radius: 5px;
    color: white;
    background-color: #ff0054;

}
#donate{
    padding-top: 100px;
    text-align: center;
}
.scnd-heading{
    font-family: Ubuntu;
    font-size: 50px;

}
.scnd-sub-text{
    font-size: 20px;
    line-height: 2;
    padding-top: 20px;
    color: rgb(105, 101, 101);
}
.taka{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h5{
    margin: 30px auto;
    padding-top: 3%;
    width: 100px;
    height: 90px;
    /* borde?r: 1px solid black; */
    border-radius: 2px;
    font-family: Rubik;
    font-size: 20px;
    background-color: #dfddde;
    color: #838282;
}
.amount{
    text-align: center;
 border-style: none;
    width: 60%;
    height: 40px;
}
hr{
    margin-left: 25%;
    width: 50%;
}
.btn{
    border: none;
    font-family: Rubik;
    text-decoration: none;
    font-size: 20px;
    padding: 8px;
    margin: 30px;
    border-radius: 5px;
    color: white;
    background-color: #ff0054;
   
}
.active{
    color: #fa0f5c;
    background-color: #ff00541c;
    border: 1px solid #ff0054;
}
.forth-heading{
    font-family: Ubuntu;
    font-size: 45px;
    text-align: center;
    padding-top: 60px;
    font: 900;

}
.fourth-sub{
    text-align: center;
    font-size: 20px;
    line-height: 2;
    padding-top: 30px;
    color: rgb(105, 101, 101);
}
.parant{
    display: flex;
    margin: 0px 85px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item{
    margin: 30px auto;
    padding-top: 3%;
    width: 273px;
    background-color:#add8e67d;
    padding: 2%;
    border-radius: 3%;
    
}
.tow{
    background-color:#ff005447;
}
.three{
    background-color:#ff000038;
}
.items-heading{
    font-size: 30px;
    font-family: Rubik;
    margin-top: 20px ;


}
.sub-text{
    padding-top:10%;
}
.bns-heading{
    font-size: 40px;
    font-family:Ubuntu;
}
.main-parent{
    padding-top: 70px;
    display: flex;
    margin: 0px 13%;
}
.cngs{
    width: 50%;
}
.imgd{
    border-radius: 3%;
    width: 100%;
}
.bns-sub-heading{
    font: bold;
    font-size: 20px;
    line-height: 2;
    padding-top: 20px;
    padding-right: 10px;
    color: rgb(105, 101, 101);
}
.lst-btn{
    border: none;
    font-family: Rubik;
    text-decoration: none;
    font-size: 18px;
    padding: 8px;
    margin: 30px;
    border-radius: 5px;
    color: white;
    background-color: #ff0054;
   
}
.update-hader{
    font-family: Ubuntu;
    font-size: 50px;
    text-align: center;
    padding-top: 7%;
    
}
.update-sub-header{
/* width: 50%; */
text-align: center;
font-size: 20px;
line-height: 2;
padding-top: 20px;
padding-left: 6%;
color: rgb(105, 101, 101);
}
.get{
   margin-top: 5%;
    width: 50%;
    height: 180px;
    background-color:#dea6734d;
    margin-left: 27%;
}
.email-check{
    margin-top: 15%;
    margin-left: 27%;
    border-style: none;
    width: 200px;
    height: 36px;
    background-color: darkgrey;
}
.lt-btn{
    border: none;
    font-family: Rubik;
    text-decoration: none;
    font-size: 18px;
    padding: 9px;
    margin: -3px;
    border-radius: 5px;
    color: white;
    background-color: #ff0054;
}
.fot{
    margin-top: 10%;
    height: 150px;
    background-color: black;

}
.fot-heading{
    font-family: Rubik;
    color: #fa0f5c;
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
}
.work-heading{
    font-family: Ubuntu;
    font-size: 50px;
    text-align: center;
    margin: 5%;
}
.sub-fot-heading{
    color: rgb(188, 184, 184);
    font-size: 15px;
    text-align: center;
    padding-top: 50px;
    font-family: Rubik;

}
